@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.swiper-button-prev,
.swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 8px 16px #0000000d;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  padding: 10px;
  font-size: 20px !important;
}


